## Read in multiple files:

In [1]:
import pandas as pd

### Using a `for` loop
In many data science cases, we have data in multiple files. For example, if we run an experiment with human participants, we might have a data file from each participant, but for group analysis we'll want to combine them all into one big DataFrame. This is a great use case for looping, since we're doing the same thing (reading a file into a DataFrame) multiple times. 

First, create a list of the files, Later we will loop through this list.

In [2]:
filenames = ['s1.csv', 's2.csv', 's3.csv']

Next, we create an empty list to append the files to. Note that what we're doing here doesn't actually create one big DataFrame (we'll see how to do that in the next chapter). For now, we're creating a list in which each list item is the DataFrame from one of the files we read. We name the list in a way that makes it obvious that it's a list of DataFrames.

In [3]:
df_list = []

Finally, use a `for` loop to read the files in. This will cycle through the items in the `filenames` list; each time through the loop, `filename` has the value of the current file name, and we use the list `append()` method to add the data from that file to `df_list`:

In [4]:
for f in filenames:
    df_list.append(pd.read_csv(f))

When we view the contents of the list, we see each dataset, with its two columns (with headers saying what they are), and commas separating the list entries, as is typical of a list.

In [5]:
df_list

[   trial        RT
 0      1  0.508971
 1      2  0.389858
 2      3  0.404175
 3      4  0.269520
 4      5  0.437765
 5      6  0.368142
 6      7  0.400544
 7      8  0.335198
 8      9  0.341722
 9     10  0.439583,
    trial        RT
 0      1  0.433094
 1      2  0.392526
 2      3  0.396831
 3      4  0.417988
 4      5  0.371810
 5      6  0.659228
 6      7  0.411051
 7      8  0.409580
 8      9  0.486828
 9     10  0.468912,
    trial        RT
 0      1  0.322099
 1      2  0.396106
 2      3  0.384297
 3      4  0.364524
 4      5  0.454075
 5      6  0.494156
 6      7  0.492787
 7      8  0.506836
 8      9  0.340722
 9     10  0.704491]

The output above isn't nicely formatted as a pandas DataFrame, because Python is treating the DataFrames as list entries. But, if we ask to see one of the list entries, things look prettier:

In [6]:
df_list[0]

   trial        RT
0      1  0.508971
1      2  0.389858
2      3  0.404175
3      4  0.269520
4      5  0.437765
5      6  0.368142
6      7  0.400544
7      8  0.335198
8      9  0.341722
9     10  0.439583