## Reading multiple files to build a DataFrame

We can get a bit more fancy and use a loop to read in files, as in the previous chapter, and then combine them. Here's the code from the last chapter, which reads the CSV files in to a list of DataFrames:

In [13]:
filenames = ['s1.csv', 's2.csv', 's3.csv']

df_list = []

for filename in filenames:
    df_list.append(pd.read_csv(filename))

Since `df_list` is already a list — which is the format that `pd.concat()` wants its input in — we can just pass the whole thing to `pd.concat()`:

In [14]:
df = pd.concat(df_list, ignore_index=True)

df

    trial        RT
0       1  0.508971
1       2  0.389858
2       3  0.404175
3       4  0.269520
4       5  0.437765
5       6  0.368142
6       7  0.400544
7       8  0.335198
8       9  0.341722
9      10  0.439583
10      1  0.433094
11      2  0.392526
12      3  0.396831
13      4  0.417988
14      5  0.371810
15      6  0.659228
16      7  0.411051
17      8  0.409580
18      9  0.486828
19     10  0.468912
20      1  0.322099
21      2  0.396106
22      3  0.384297
23      4  0.364524
24      5  0.454075
25      6  0.494156
26      7  0.492787
27      8  0.506836
28      9  0.340722
29     10  0.704491