## Adding columns of data to a DataFrame

Switching gears a bit, we now look at how to add columns to a DataFrame. For example, if we have reaction time (RT) data from multiple participants, rather than stacking them as we did above, we can store the data from each participant in s separate column in the DataFrame

As we did above, let's load three data files into a list of DataFrames:

In [22]:
filenames = ['s1.csv', 's2.csv', 's3.csv']
df_list = [pd.read_csv(f) for f in filenames]

Then, we take the first data file, from `df_list`, and make it just a free-standing DataFrame called `df`

In [23]:
df = df_list[0]

Now we add the data from participant 2 as a new column in `df`. pandas knows to make a new column if you assign something to a column named that doesn't already exist. In this case we're adding a new column called `s2`.
Since participant 2's data are in the second entry in `df_list`, we use `df_list[1]`. We also need to specify which column to copy over, which we do by specifying `['RT']`

In [24]:
df['s2'] = df_list[1]['RT']

df

   trial        RT        s2
0      1  0.508971  0.433094
1      2  0.389858  0.392526
2      3  0.404175  0.396831
3      4  0.269520  0.417988
4      5  0.437765  0.371810
5      6  0.368142  0.659228
6      7  0.400544  0.411051
7      8  0.335198  0.409580
8      9  0.341722  0.486828
9     10  0.439583  0.468912

One issue with this is that s1's data is called "RT", but we might want to call it "s1". We can rename the column with `pd.rename()`, using a dictionary to specify the mapping between old and new names. Note we have to assign the output of `df.rename()` back to `df`, because `.rename()` is a method that produces output, but doesn't, by default, change the contents of what it takes as input. (If you don't understand this, we go into more detail later.)

In [25]:
df = df.rename(columns={'RT':'s1'})
df

   trial        s1        s2
0      1  0.508971  0.433094
1      2  0.389858  0.392526
2      3  0.404175  0.396831
3      4  0.269520  0.417988
4      5  0.437765  0.371810
5      6  0.368142  0.659228
6      7  0.400544  0.411051
7      8  0.335198  0.409580
8      9  0.341722  0.486828
9     10  0.439583  0.468912